@use './parcel/base/typography';
@use './parcel/layout/buttons';
@use './parcel/layout/forms';
@use './parcel/pages/index';
@use './parcel/base/base';

// general settings
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
