@use './parcel/base/typography';
@use './parcel/layout/buttons';
@use './parcel/layout/forms';
@use './parcel/pages/index';
@use './parcel/base/base';
@use './parcel/layout/header';
@use './parcel/layout/indexform';
@use './parcel/layout/footer';

// general settings
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}
