@use './parcel/base/variables' as vars;

.container {
  margin: 0 auto;
}

// .column {
//   // display: flex;
//   // flex-direction: column;
//   // margin: 2vh 0;
//   // padding: 2vw;
// }

// .row {
//   // display: flex;
//   // flex-direction: row;
//   // flex-wrap: wrap;
// }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Specifik styling  */

#assets .column {
  padding: 3vw;
  background-color: vars.$white;
  box-shadow: -12px -12px 20px rgba(245, 245, 245, 0.5), 12px 12px 20px rgba(162, 180, 198, 0.3);
}

#assets .row {
  padding: 5vw 10vw;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  grid-gap: 5vw;
  margin: 0 auto;
  // max-width: 2000px;
}

#assets h2 {
  margin: 3vw 3vw 3vw 5vw;
}

#assets p {
  min-height: 70px;
}
#assets img {
  width: 50%;
}

#assets figure {
  text-align: center;
  margin: 1vw;
}

#video.container {
  background-color: vars.$black;
  height: 60vh;
  margin: 0;
}

#blog.container {
  margin: 5vw 15vw;
  display: flex;
  justify-content: center;
}

#blog .row {
  padding: 5vw;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5vw;
  margin: 0 auto;
  max-width: 1500px;
}

#blog .column {
  background-color: vars.$black;
  padding: 0 0 3vw 0;
}

#blog h3,
#blog p {
  padding: 0 3vw;
  color: vars.$white;
}

#blog img {
  height: 20vh;
  object-fit: cover;
}

#blog figure {
  width: 100%;
  padding: 0;
  margin: 0;
}

#blog button {
  margin: 0 0 0 2vw;
}

#blog .blog_title {
  max-height: 200px;
}
#contact.container {
  background-color: vars.$black;
  margin: 0;
  height: 50vh;
}

@media only screen and (max-width: 820px) {
  #assets .row {
    grid-template-columns: repeat(1, 1fr);
  }

  #blog .row {
    grid-template-columns: repeat(1, 1fr);
  }
}

// @media only screen and (min-width: 1820px) {
//   // #assets .row {
//   //   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
//   // }

//   #blog .row {
//     grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
//   }
// }
