@use './parcel/base/variables' as vars;

.container {
  width: 100%;
  height: auto;
  padding: 2vw 5vw 2vw 5vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.column {
  display: flex;
  flex-direction: column;
  margin: 2vh 0;
  padding: 2vw;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Specifik styling  */

#splash.container {
  background-color: vars.$purple;
  margin: 0;
  height: 50vh;
}

#assets .column {
  flex-basis: 28%;
  margin: 2vw;
  background-color: vars.$light-background;
}

#assets h2 {
  margin: 3vw 3vw 3vw 0;
}

#assets img {
  width: 60%;
}

#assets figure {
  text-align: center;
  margin: 1vw;
}

#video.container {
  background-color: vars.$black;
  height: 60vh;
  margin: 0;
}

#blog.container {
  justify-content: center;
}

#blog > .row {
  justify-content: center;
  width: 60vw;
}

#blog .column {
  max-width: 300px;
  margin: 3vw;
  flex-basis: 35%;
  flex-grow: 1;
  background-color: vars.$black;
  padding: 0 0 3vw 0;
}

#blog h3,
#blog p {
  padding: 0 2vw;
  color: vars.$white;
}

#blog img {
  height: 20vh;
  object-fit: cover;
}

#blog figure {
  width: 100%;
  padding: 0;
  margin: 0;
}

#blog button {
  margin: 0 0 0 2vw;
}

#contact.container {
  background-color: vars.$black;
  margin: 0;
  height: 50vh;
}
/* .center {
    text-align: center;
  } */
