@use './parcel/base/variables' as vars;

footer {
  padding: 30px;
  font-family: vars.$font-regular;
  color: vars.$dark-grey;
  font-size: 0.9rem;
}

footer a {
  color: vars.$dark-grey;
  text-decoration: none;
  padding-right: 3px;
}

footer a:hover {
  text-decoration: underline;
}
