//forms
@use './parcel/base/variables' as vars;
// @use '/./parcel/base/typography' as fonts;

.form-container {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 40px auto;
  padding: 50px;
  background: #ffffff;
  box-shadow: -12px -12px 20px rgba(245, 245, 245, 0.5), 12px 12px 20px rgba(162, 180, 198, 0.3);
  // box-shadow: inset 2px 2px 4px rgba(245, 245, 245, 0.5);
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
}

.form-container h1 {
  font-family: "gt-walsheim-bold";
  font-size: 2rem;
  margin-bottom: 10px;
}

.form-container p {
  font-family: "gt-walsheim-regular";
  font-size: 1rem;
  margin-bottom: 30px;
}

input[type="text"] {
  padding: 16px;
  background-color: vars.$off-white;
  color: vars.$black;
  font-family: vars.$font-regular;
  border: 2px solid vars.$off-white;
  display: block;
  margin: 20px 0;
  width: 100%;
  outline: none;
  transition: border 0.3s;
}

input[type="text"]:focus {
  border: 2px solid vars.$black;
  background-color: vars.$white;
  border-radius: 0;
  transition: border 0.3s;
}

input[type="email"] {
  padding: 16px;
  background-color: vars.$off-white;
  color: vars.$black;
  font-family: vars.$font-regular;
  border: 2px solid vars.$off-white;
  display: block;
  margin: 20px 0;
  width: 100%;
  outline: none;
  transition: border 0.3s;
}

input[type="email"]:focus {
  border: 2px solid vars.$black;
  border-radius: 0;
  background-color: vars.$white;
  transition: border 0.3s;
}

// input:-webkit-autofill,
// input:-webkit-autofill:hover,
// input:-webkit-autofill:focus {
//   border: 2px solid vars.$off-white;

//   transition: background-color 5000s ease-in-out 0s;
// }

// input[type="text"]:invalid {
//   transition: 0.3s;
//   background-color: vars.$dark-red;
//   border: 2px solid vars.$red;
//   color: vars.$black;
// }

// input[type="text"]:invalid::after {
//   content: "Dette felt er required";
//   font-family: vars.$font-regular;
//   color: vars.$red;
//   font-size: 0.8rem;
// }

select {
  -webkit-appearance: none;
  appearance: none;
  padding: 16px;
  background-color: vars.$white;
  color: vars.$black;
  font-family: vars.$font-bold;
  border: 2px solid vars.$black;
  border-radius: 0;
  display: block;
  margin: 16px 0;
  width: 100%;
  outline: none;
  text-transform: uppercase;
}

// select::after {
//   content: "<";
//   color: black;
//   transform: rotate(90deg);
// }

#checkbox-label {
  color: vars.$black;
  font-family: vars.$font-bold;
  font-size: 0.8rem;
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

#checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

// input[type="checkbox"] {
//   appearance: none;
//   background-color: vars.$white;
//   color: vars.$off-white;
//   font-family: vars.$font-bold;
//   border: 2px solid vars.$black;
//   padding: 10px;
//   display: inline-block;
//   outline: none;
//   transition: 0.1s;
//   margin: 15px 15px 2px 0;
//   position: absolute;
// }

.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 24px;
  width: 24px;
  background-color: vars.$white;
  border: 2px solid vars.$black;
}

#checkbox-label:hover input ~ .checkmark {
  background-color: vars.$off-white;
}

#checkbox-label input:checked ~ .checkmark {
  background-color: vars.$blue;
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#checkbox-label input:checked ~ .checkmark:after {
  display: block;
}

#checkbox-label .checkmark::after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 13px;
  border: 2px solid vars.$white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked {
  background-color: vars.$blue;
  border: 2px solid vars.$blue;
  transition: 0.1s;
}

button[type="submit"] {
  outline: none;
  padding: 16px 50px;
  background-color: vars.$purple;
  color: vars.$white;
  font-size: 1rem;
  max-width: 300px;
  font-family: vars.$font-bold;
  border: 2px solid vars.$off-white;
  display: block;
  margin: 16px 0;
  text-align: center;
  transition: background-color 0.3s;
  border: 2px solid vars.$purple;
  margin-top: 20px;
}

button[type="submit"]:hover {
  transition: 0.3s;
  color: vars.$black;
  background-color: vars.$white;
  border: 2px solid vars.$purple;
}

.dxc-logo-form {
  width: 30%;
}
